/* css for hotel descriptive content ui */

body{
	font-size: 1em;
}

.bordered-table{
    border-collapse: collapse;
    border: 0.5px solid black;
    width: 100%;
    font-size: 1.2em;
}

tr:hover .hcd_td{background-color: #1a7ead1f;}

.hcd_td{
    text-align: left;
    white-space: break-spaces;
    border-collapse: collapse;
    min-width: 200px;
    max-width: 1000px;
    padding-top: 0px;
    border: 0.5px solid black;
}

.hcd_tr{
    border: 0.5px black;
}

.accordian{
	display: grid;
	padding: 20px;
}

.accordian .card{
	width: 100%;
}
.accordian .card .card-header h3{
	cursor: pointer;
	color:#ffffff;
	background-color: rgb(150, 229, 253);
	padding: 10px;
	padding-left: 20px;
	margin: 0px;
	font-size: 1.4em !important; 

}
.accordian .card .card-header {
	position: relative;
	margin: 0px;
}
.accordian .card .card-header span{
	position: absolute;
	right: 20px;
	top: 25%;
	font-size:13px; 
}

.accordian .card .card-body{
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
}


/* css for tree structure */
.tree{
	font-size: 1.2em;
	font-family: monaco,Consolas,Lucida Console,monospace;
	padding: 50px;
}

.tree .node {
	font-weight: bold;
}

.tree .node-body {
	display: grid;

}

.tree .node-body ul{
	list-style-type:none ;
	padding-left: 30px;
	margin: 0px;
}


