/* css for hotel descriptive content ui */

.bordered-table{
    border-collapse: collapse;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom-style: hidden;
    border-top-style: hidden;
    width: 100%;
    font-size: 1em;
}

tr:hover .hcd_td{background-color: #1a7ead1f;}

.hcd_td{
    text-align: left;
    white-space: break-spaces;
    border-collapse: collapse;
    min-width: 200px;
    max-width: 1000px;
    padding-top: 0px;
    border: 0.5px solid black;
}

.hcd_tr{
    border: 0.5px black;
}

.emptytable-top{
    border-collapse: collapse ;
    border-bottom: 0.5px solid black;
}

.emptytable-bottom{
    border-collapse: collapse ;
    border-top: 0.5px solid black;
}
