
    h1 {
	    text-align:center;
	    border-bottom: 2px solid #ccc;
	    letter-spacing:4px;
        font-weight: bold;
    }   
        /* done */
    body { 
        font-family:arial, sans-serif, 'lucida console';
	    font-size:0.9em;
	    color: black; 
	    background-color: #336699; 
	    margin: 0px;    
    }   
        /* done */

    .bordered-table{
        border-collapse: collapse ;
        border-bottom-style: hidden;
        width: 100%;
    }

    tr:hover .hcd_td{background-color: #1a7ead1f;}

    .hcd_td{
        text-align: center;
        white-space: break-spaces;
        border-collapse: collapse ;
        /* min-width: 150px;
        max-width: 2000px; */
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        border-top: 0.5px solid black;
        
    }

    tr.emptyrow{
        border-left-style: hidden;
        border-right-style: hidden;
    }

    .emptyrow tr:hover{
        background-color: white;
    }

    .tablecontent{
        display:block;
        z-index:3;
        width:90%;
        top:0px;
        background-color: white; 
        padding:10px;
        border:3px solid #ccc;
        margin: 0 auto;
    }

    #container{
	    display:block;
	    margin-top:10px;
	    margin-left:10px;
	    margin-bottom:10px;
	    padding:0px;
	    border-width:0px;
	    top:5px;
	    bottom:10px;
    }
        /* done */
    
